.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: stretch;
  padding: 2rem;
  text-align: center;
  color: #133c2b;
}

.project {
  display: flex;
  flex: 1 1 270px;  
  flex-direction:column ;
  align-items: center;
  gap: 2rem;
  background:#73a671 ;
  border-radius: 16px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 15px;
  
}
.project-desc h2{
    color:rgb(255, 255, 255);
}
.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}


.project:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.65);
}


@media (max-width: 768px) {
    .projects{
        flex-direction: column;
    }
  .project img {
    max-width: 100%;
  }
.project-desc p{
   display: none; 
}

}
.caption {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.33);
  transition: opacity 0.4s ease, padding-top 0.4s ease;
  padding-top: 70%;
}

.project:hover .caption {
  opacity: 1;
  padding-top: 0;
}

.caption img {
  width: 50px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.4));
}

.caption p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
